// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans+JP:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


// Define fonts for body and headers
$body-font: "Lato", "Helvetica", "sans-serif";
$headers-font: "Noto Sans JP", "Roboto", "sans-serif";

// To use a font file (.woff) uncomment following lines

$gray: #F4F4F4; // Defining a variable
$spacer: 8px;

$fs-xl: clamp(2rem, 4vw, 8rem);
$fs-600: 1.5rem;
$fs-500: clamp(1rem, 1.5vw, 2rem);
$fs-400: 1rem;
