// Specific CSS for your home-page

.grid-container {
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  max-width: 1200px;
  margin: 20px auto;
}

.grid-container > div:nth-child(1) {
  height: 400px;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url("banner.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  grid-column: span 2;
  display: flex;
  justify-content: center;
}

.banner img {
  width: 100%;
}

.banner h1 {
  // margin: 20px auto;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  font-weight: 500;
}

.banner p {
  font-size: 18px;
  margin: 20px auto;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner-left {
  flex: 1;
  padding: 50px 30px;
}

.banner-right {
  flex: 1
}
