<div class="home-container">
  <div class="grid-container">
      <div class="banner">
        <div class="container">
          <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
          <p>Change your life and learn to code at one of our campuses around the world.</p>
          <%= link_to "Apply Now", new_signup_path, class: "btn-ghost"%>
        </div>
      </div>
  </div>
</div>
