<div class="home-container">
  <div class="grid-container">
      <div class="banner">
        <div class="container">
          <h1>From Farm to Fabric.</h1>
          <h1>Sustainable Baby Clothes for a Healthier Tomorrow.</h1>
          <p>Soft, Sustainable, and Safe — Our Organic Cotton Baby Clothes Are Gentle on Your Baby’s Skin and the Planet. Crafted with Love and Care for a Healthier Future. Explore Our Collection Today!</p>
          <%= link_to "Apply Now",
          new_signup_path,
          class: "btn-ghost",
          data: {action: "click->dialog#open", turbo_frame: "modal"}
          %>
        </div>
      </div>
  </div>
</div>
