.btn-ghost {
  color: #ffffff;
  background-color: #527c76;
  border: 1px solid #527c76;
  padding: 10px 30px;
  border-radius: 5px;
  font-size: $fs-500;
  // font-weight: 600;
  opacity: 0.85;
  transition: opacity 0.3s ease;
  text-decoration: none;
  // min-height: 30px;
}

.btn-ghost:hover {
  opacity: 1;
  border: 1px solid black;
}

.btn-ghost-nav {
  color: #ffffff;
  background-color: #527c76;
  border: 1px solid #527c76;
  padding: 10px 30px;
  border-radius: 5px;
  font-weight: 600;
  margin-top: 20px;
  // opacity: 0.85;
  // transition: opacity 0.3s ease;
  text-decoration: none;
  // min-height: 30px;
}

.btn-ghost-nav:hover {
  opacity: 1;
  background-color: #466b66;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #670BFF;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #4D04C4;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}
