.navbar-lewagon {
  position: sticky;
  width: 100%;
  min-height: 70px;
  opacity: 95%;
  box-shadow: $shadow-md;
  opacity: 90%;
  padding: 10px 170px;
  background-color: white;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  max-width: 200px;
}
