.navbar-lewagon {
  position: sticky;
  width: 100%;
  min-height: 70px;
  opacity: 95%;
  box-shadow: $shadow-md;
  opacity: 90%;
  padding: clamp(0.5rem, 1vh, 2rem) clamp(0.3rem, 14vw, 15rem);
  background-color: white;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  max-width: clamp(150px, 15vw, 300px) ;
}
